{% extends "../base.html" %}
{% load static %}
{% block title %} Basket Summary{% endblock %}
{% block content %}

    <main class="pt-5">
        <div class="container">
            <h1 class="h5">Shopping basket</h1>
            {% for item in basket %}
                {% with product=item.product %}
                    <div data-index="{{ product.id }}" class="row g-3 product-item">
                        <div class="col-md-5 col-lg-5 order-md-first">
                            <img class="img-fluid mx-auto d-block" src="{{ product.image.url }}" alt="Responsive image">
                        </div>
                        <div class="p-4 mb-4 bg-light rounded-3 col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                            <h1 class="mb-2 h4">{{ product.title }}</h1>
                            <p>{{ product.description|slice:"255" }}</p>
                            <hr class="my-4">
                            <div>
                                <div class="row p-3">
                                    <div class="col-6">Hardback</div>
                                    <div class="col-6 text-end"><span class="h5 fw-bold">${{ item.total_price }}</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">

                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="col-2 d-flex flex-column flex-md-row align-items-center">
                                    <label for="select">Qty</label>
                                    <select id="select {{product.id}}">
                                        <option value="">{{ item.qty }}</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </div>


                                <div class="btn-group col-md-4 justify-content-end" role="group"
                                     aria-label="Basic outlined example">
                                    <button type="button" id="delete-button" data-index="{{product.id}}"
                                            class="btn btn-outline-primary btn-sm delete-button">Delete
                                    </button>
                                    <button type="button" id="update-button" data-index="{{product.id}}"
                                            class="btn btn-outline-primary btn-sm update-button">Update
                                    </button>
                                </div>

                            </div>
                        </div>
                        <hr class="my-4">
                    </div>
                {% endwith %}
            {% endfor %}
            <div class="col-12 text-end">
                <div class="h4 fw-bold">Sub Total: $
                    <span id="subtotal" class="d-inline-flex">{{ basket.get_total_price }}</span>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </main>
    <script>
  // Delete Item
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_delete" %}',
      data: {
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Update Item
  $(document).on("click", ".update-button", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_update" %}',
      data: {
        productid: $(this).data("index"),
        productqty: $("#select" + prodid + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post"
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>

{% endblock %}