{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} My shop {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
<header class="p-3 bg-light text-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <a href="{% url "store:products_all" %}" class="navbar-brand">MyStore</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="#" id="navbarDropdown" class="nav-link dropdown-toggle px-2 text-dark" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url "store:products_all" %}">All</a></li>
                        {% for each_c in categories %}
                            <li><a class="dropdown-item"
                                   href="{{ each_c.get_absolute_url }}">{{ each_c.name|title }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
{#            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">#}
{#                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">#}
{#            </form>#}
                <form class="d-flex w-100 d-md-none">
                    <input class="form-control me-2" type="search" placeholder="Search products or FAQ"
                           aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                    <a type="button" role="button" href="{% url "account:logout" %}"
                       class="btn btn-outline-primary me-2">
                        <span>Logout</span>
                    </a>
                {% else %}
                    <a type="button" role="button" href="{% url "account:login" %}"
                       class="btn btn-outline-primary me-2">
                        <span>Login</span>
                    </a>
                {% endif %}
                <a type="button" role="button" href="{% url "basket:basket_summary" %}" class="btn btn-primary">
                    Basket
                    {% with total_qty=basket|length %}
                        <span id="basket-qty" class="badge badge-light">
                                {% if total_qty > 0 %}
                                    {{ total_qty }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                    {% endwith %}

                    <span class="sr-only">items</span>
                </a>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

</body>
</html>