{% extends './base.html' %}
{% load static %}
{% block title %} MyStore {% endblock %}
{% block content %}
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-10 col-md-8 mx-auto">
                <h1 class="fw-light">All Products</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa
                    nostrum obcaecati soluta voluptate voluptatibus!</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="pb-3 h5">All Products</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ product.image.url }}" alt="Responsive image" class="img-fluid">
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{{ product.get_absolute_url }}"
                                       class="dark-text text-decoration-none">{{ product.title }}</a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">5min read</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}