{% extends '../base.html' %}
{% load static %}
{% block title %} Home page {% endblock %}
{% block content %}
{#    <section class="py-5 text-center container">#}
{#        <div class="row py-lg-5">#}
{#            <div class="col-lg-6 col-md-8 mx-auto">#}
{#                <h1 class="fw-light">{{ category.name|title }}</h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="pb-3 h5">{{ category }}</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ product.image.url }}" alt="Responsive image" class="img-fluid">
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{{ product.get_absolute_url }}"
                                       class="dark-text text-decoration-none">{{ product.title }}</a>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">5min read</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}