{% extends "../base.html" %}
{% load static %}
{% block title %} Product detail page {% endblock %}
{% block content %}
    <div class="container">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first">
                    <img class="img-fluid mx-auto d-block" src="{{ product.image.url }}" alt="Responsive image">
                </div>
                <div class="p-5 mb-4 bg-light rounded-3 col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <h1 class="mb-0 h4">{{ product.title }}</h1>
                    <p><span class="lead">{{ product.author }}</span>(Author)</p>
                    <p>{{ product.description|slice:"255" }}</p>
                    <hr class="my-4">
                    <div>
                        <div class="row p-3">
                            <div class="col-6">Hardback</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}</span></div>
                        </div>
                    </div>
                    <hr class="my-4">

                    <div class="d-flex flex-md-row align-items-center p-3 box-shadow">
                        <div class="col-2 d-flex flex-column flex-md-row align-items-center">
                            <label for="select">Qty</label>
                            <select id="select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-10 text-end">
                            <button type="button" id="add-button" value="{{ product.id }}"
                                    class="btn btn-primary btn-block btn-lg float-end">
                                <i class="fas fa-cart-plus"></i> Add
                            </button>
                        </div>

                    </div>
                </div>

                <hr class="my-4">
                <h5>Star rating </h5>
                <div class="rating"><input type="radio" name="rating" value="5" id="5">
                    <label for="5">☆</label> <input type="radio" name="rating" value="4" id="4">
                    <label for="4">☆</label> <input type="radio" name="rating" value="3" id="3">
                    <label for="3">☆</label> <input type="radio" name="rating" value="2" id="2">
                    <label for="2">☆</label> <input type="radio" name="rating" value="1" id="1">
                    <label for="1">☆</label>
                </div>
            </div>
        </main>
    </div>

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: $('#add-button').val(),
                    productqty: $('#select option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>
{% endblock %}